.logo-loader {
  &-enter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--bg-color);
    z-index: 100;

    & .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40vw;
      cursor: default;

      & svg {
        fill: var(--primary-color);
        stroke: none;
        stroke-dasharray: 2331;
        opacity: 1;
        animation: logo-anim-in 3.2s forwards ease-in-out;
      }
    }
  }

  &-enter-active {
    background: transparent;
    transition: 0.2s cubic-bezier(0.04, 0.01, 0.51, 0.02);
    transition-delay: 2.9s;

    & .logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 5.5rem;
      transition: 0.2s cubic-bezier(0.04, 0.01, 0.51, 0.02);
      transition-delay: 2.8s;
    }
  }

  &-enter-done {
    & .logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 5.5rem;
      transform: translate(1.875rem, 1.875rem) !important;
    }
  }

  // Logo animation
  @keyframes logo-anim-in {
    0% {
      fill: none;
      stroke: var(--primary-color);
      opacity: 0;
      stroke-dashoffset: 2331;
    }
    30% {
      fill: none;
      stroke: var(--primary-color);
      opacity: 1;
      stroke-dashoffset: 2331;
    }
    100% {
      fill: var(--primary-color);
      stroke: none;
      opacity: 1;
      stroke-dashoffset: 0;
    }
  }
}
