.suggestion-slider {
  width: 100%;
  height: 30rem;

  &__item {
    width: 100%;
    height: 30rem;
    display: flex !important;
    overflow: hidden;
    position: relative;

    &-wrapper {
      width: 40%;
      height: inherit;
    }

    & .collection-link {
      height: 50%;
    }

    &-info {
      height: 50%;
      display: flex;
      align-items: center;
      padding-left: 6vw;
    }

    &-img {
      width: 60%;
      height: inherit;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }

  &__prev,
  &__next {
    width: 4.5rem;
    height: 4.5rem;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;

    &:hover {
      background: rgba(0, 0, 0, 0.55);
    }

    & svg {
      width: 20%;
    }
  }
  &__next {
    transform: translateX(100%);
    border-left: 1px solid rgba(255, 255, 255, 0.2);

    & svg {
      transform: rotate(180deg);
    }
  }

  & .slick-current {
    z-index: 1;
  }
}

.suggestions {
  &__links {
    display: flex;
    height: 16.25rem;
  }

  &__link {
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 200;
    color: #fff;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 101%;
    background-position: center center;
    position: relative;
    transition: background-size 0.2s;

    &:hover {
      background-size: 110%;
    }

    & span {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__collection {
    display: flex;
    height: 27.5rem;

    &-img {
      width: 50%;
      height: inherit;
      background-repeat: no-repeat;
      background-size: 160%;
      background-position: center center;
    }

    &-wrapper {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-title {
      width: 20%;
      position: relative;
      margin-left: 20%;

      & span {
        font-size: 1.125rem;
        position: absolute;
        top: -0.625rem;
        right: 0.625rem;
      }
    }

    &-descr {
      width: 40%;
      margin: 2.5rem 0 2.5rem 30%;
      line-height: 1.5;
    }

    & .btn_bordered {
      margin-left: 30%;
    }
  }
}

.watches-grid {
  padding: 0 4rem;

  &__wrap {
    margin: 0 -0.625rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:first-of-type {
      max-height: 380px;
      overflow: hidden;
    }
  }

  & .watch-card:not(.watch-card_exclusive) {
    width: 31%;
  }

  & .collection-link {
    width: 31%;
    margin: 0.625rem;
    border-radius: 0.3125rem;

    &__link {
      border-top-right-radius: 0.3125rem;
      border-bottom-right-radius: 0.3125rem;
    }
  }
}
